<div class="box">
  <div class="menu-information">
      <div class="title-box">
          <div class="image-user">
              <img src="img/user.png" alt="">
          </div>
          <div class="name-user">
              <a href="">Lê vãn Giang</a>
          </div>
      </div>
      <div class="list-menu">
          <ul>
            <li><a href="/thongtincanhan">Thông tin cá nhân</a></li>
            <li><a href="/phongdathue">Phòng đã Thuê</a></li>
            <li><a href="/dichvu">Dịch Vụ</a></li>
            <li><a href="/thanhtoanhangthang">Thanh toán hàng tháng</a></li>
            <li><a href="/doimatkhau">Đổi mật khẩu</a></li>
            <li><a href="/home">Đăng xuất</a></li>
          </ul>
      </div>
  </div>
  <div class="display-box">
      <div class="title-display-box">
          <a href="">Phòng đã thuê</a>
      </div>
      <div class="display">
          <div class="container pt-5">
              <table class="table table-bordered table-hover custom-table">
                  <thead>
                      <tr>
                          <th>Mã phòng</th>
                          <th>Địa chỉ</th>
                          <th>Trạng thái</th>
                          <th>Thao tác</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="room-id">1</td>
                          <td>Lương Thế Vinh, Phường Tân Thới Hòa, Quận Tân Phú, TPHCM</td>
                          <td class="status-expired">Hết hợp đồng</td>
                          <td><a href="#" class="action-link">Xem hợp đồng</a></td>
                      </tr>
                      <tr>
                          <td class="room-id">2</td>
                          <td>Lương Thế Vinh, Phường Tân Thới Hòa, Quận Tân Phú, TPHCM</td>
                          <td class="status-active">Còn hợp đồng</td>
                          <td><a href="#" class="action-link">Xem hợp đồng</a></td>
                      </tr>
                      <tr>
                          <td class="room-id">3</td>
                          <td>Lương Thế Vinh, Phường Tân Thới Hòa, Quận Tân Phú, TPHCM</td>
                          <td class="status-active">Còn hợp đồng</td>
                          <td><a href="#" class="action-link">Xem hợp đồng</a></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

  </div>
</div>
