header {
    display: flex;
    width: 100%;
    height: 125px;
    background-color: rgba(245, 247, 250, 1);
}

.box-header {
    display: flex;
    width: 75%;
    height: 125px;
    background-color: rgba(245, 247, 250, 1);
    margin: 0 auto;
}

header .box-header .menu ul {
    display: flex;
    list-style: none;
    margin-top: 25px;

}

header .box-header .menu ul li a {
    text-decoration: none;
    margin: 20px;
    color: rgba(37, 193, 150, 1);
    font-size: 24px;
}

.logo {
    width: 15%;
    align-self: center;
}

.menu {
    width: 60%;
    align-self: center;
}

.menu ul li a {
    font-size: 25px;
    font-weight: 600;
}

.login {
    width: 35%;
    align-self: center;
    text-align: end;
}

.login {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.login a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin: 10px;
    border: 2px solid rgba(37, 193, 150, 1);
    padding: 4px 10px;
    color: rgba(37, 193, 150, 1);
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.login a:hover {
    background-color: rgba(37, 193, 150, 1);
    color: white;
    box-shadow: 0 0 10px rgba(37, 193, 150, 0.5);
    transform: translateY(-2px);
}


.login-logged img {
    width: 64px;
    height: 64px;
    border-radius: 90px;
    background-color: black;    
}

.login-logged {
    width: 35%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.login-logged-img {
    width: 64px;
    height: 64px;
    
}