<div class="box1">
  <div class="image-slide-detail">
      <img src="img/anh-mo-hinh-nha-removebg-preview.png" alt="">
      <div class="slider-container">
          <div class="button-left"><i class="fa-solid fa-chevron-left"></i></div>
          <div class="slider">
              <div class="imageSlider"><img src="img/anh-mo-hinh-nha-removebg-preview.png" alt="1"></div>
              <div class="imageSlider"><img src="img/house-animate.png" alt="2"></div>
              <div class="imageSlider"><img src="img/anh-mo-hinh-nha-removebg-preview.png" alt="3"></div>
              <div class="imageSlider"><img src="img/house-model2-Photoroom.png" alt="4"></div>
              <div class="imageSlider"><img src="img/anh-mo-hinh-nha-removebg-preview.png" alt="5"></div>
          </div>
          <div class="button-right"><i class="fa-solid fa-chevron-right"></i></div>
      </div>
  </div>
  <div class="information-detail">
      <div class="title-information">
          <a>Phòng trọ mới sửa 7/2023 Đường Lương Thế Vinh, Phường Tân Thới Hòa, Quận Tân Phú</a>
      </div>
      <div class="address">
          <a>Địa chỉ: Lương Thế Vinh, Phường Tân Thới Hòa, Quận Tân Phú, TPHCM</a>
      </div>
      <div class="price">
          <a>Giá Thuê: 1.8 Triệu/tháng</a>
      </div>
      <div class="acreage">
          <a>Diện tích: 20 m2</a>
      </div>
      <div class="button-detail">
          <div class="buynow">
              <a href="/thuetro" >Thuê ngay</a>
          </div>
          <div class="contact">
              <a>0397147xxx</a>
          </div>
      </div>
  </div>
</div>
<h1 class="title-box2">Mô tả chi tiết</h1>
<div class="box2">
  <div id="displayContent" class="box2-detail">
      <p>CHÍNH CHỦ CHO THUÊ Phòng mới xây an ninh có máy lạnh😍😍 </p>
      <p>Địa chỉ: Lương Thế Vinh, Phường Tân Thới Hoà, Quận Tân Phú, TPHCM</p>
      <p>Diện tích: 30m2</p>
      <p>Điện 3k5, nước 70k/ Người, wifi + rác 130k, xe Free</p>
      <p>Nhà thiết kế chuẩn cao cấp, khoá vân tay, Camera an ninh, Báo cháy nổ</p>
  </div>
  <div class="map-location">
      <iframe class="map-frame"
          src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d7836.920516729088!2d106.6323671!3d10.8525553!3m2!1i1024!2i768!4f13.1!2m1!1zY8O0bmcgdmllbiBwaOG6p24gbeG7gW0gcXVhbmcgdHJ1bmcgdHBoY20!5e0!3m2!1sen!2s!4v1740563830373!5m2!1sen!2s"
          width="90%" height="90%"  allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
