<div class="box">
  <div class="menu-information">
      <div class="title-box">
          <div class="image-user">
              <img src="img/user.png" alt="">
          </div>
          <div class="name-user">
              <a href="">Lê vãn Giang</a>
          </div>
      </div>
      <div class="list-menu">
          <ul>
            <li><a href="/thongtincanhan">Thông tin cá nhân</a></li>
            <li><a href="/phongdathue">Phòng đã Thuê</a></li>
            <li><a href="dichvu.html">Dịch Vụ</a></li>
            <li><a href="thanhtoanhangthang.html">Thanh toán hàng tháng</a></li>
            <li><a href="/doimatkhau">Đổi mật khẩu</a></li>
            <li><a href="/home">Đăng xuất</a></li>
          </ul>
      </div>
  </div>
  <div class="display-box">
      <div class="title-display-box">
          <a href="">Thanh toán hàng tháng</a>
      </div>
      <div class="display">
          <div class="container pt-5 invoice-container">
              <div class="invoice-header">
                  <span style="font-weight: bold;">Tháng: <span style="color: gray;">2</span></span> &nbsp;&nbsp;
                  <span style="font-weight: bold;" class="status">Trạng thái: <span style="color: red;">Chưa thanh
                          toán</span></span> &nbsp;&nbsp;
                  <span style="font-weight: bold;" class="payment-method">Phương thức thanh toán: <span
                          style="color: blue;">Online</span></span>
              </div>
              <table class="table table-bordered table-hover custom-table">
                  <thead>
                      <tr>
                          <th>STT</th>
                          <th>Loại dịch vụ</th>
                          <th>Giá</th>
                          <th>Mã phòng</th>
                          <th>Số sử dụng</th>
                          <th>Thành tiền</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>1</td>
                          <td>Điện</td>
                          <td>3.800 vnđ</td>
                          <td>2</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>2</td>
                          <td>Nước</td>
                          <td>80.000 vnđ</td>
                          <td>2</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>3</td>
                          <td>Gửi xe</td>
                          <td>50.000 vnđ</td>
                          <td>2</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>4</td>
                          <td>Máy giặt</td>
                          <td>50.000 vnđ</td>
                          <td>2</td>
                          <td></td>
                          <td></td>
                      </tr>
                  </tbody>
              </table>
              <div style="color: red; font-weight: bold;">Phí trọ hàng tháng:</div>
              <div style="color: red; font-weight: bold;">Tổng tiền:</div>
              <button class="btn-pay">Thanh toán</button>
          </div>

          <div class="container pt-5 invoice-container">
              <div class="invoice-header">
                  <span style="font-weight: bold;">Tháng: <span style="color: gray;">2</span></span> &nbsp;&nbsp;
                  <span style="font-weight: bold;" class="status">Trạng thái: <span style="color: green;">Đã thanh
                          toán</span></span> &nbsp;&nbsp;
                  <span style="font-weight: bold;" class="payment-method">Phương thức thanh toán: <span
                          style="color: blue;">Online</span></span>
              </div>
              <table class="table table-bordered table-hover custom-table">
                  <thead>
                      <tr>
                          <th>STT</th>
                          <th>Loại dịch vụ</th>
                          <th>Giá</th>
                          <th>Mã phòng</th>
                          <th>Số sử dụng</th>
                          <th>Thành tiền</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>1</td>
                          <td>Điện</td>
                          <td>3.800 vnđ</td>
                          <td>2</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>2</td>
                          <td>Nước</td>
                          <td>80.000 vnđ</td>
                          <td>2</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>3</td>
                          <td>Gửi xe</td>
                          <td>50.000 vnđ</td>
                          <td>2</td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>4</td>
                          <td>Máy giặt</td>
                          <td>50.000 vnđ</td>
                          <td>2</td>
                          <td></td>
                          <td></td>
                      </tr>
                  </tbody>
              </table>
              <div style="color: red; font-weight: bold;">Phí trọ hàng tháng:</div>
              <div style="color: red; font-weight: bold;">Tổng tiền:</div>
          </div>
      </div>
  </div>
</div>
