<div class="box">
  <div class="menu-information">
      <div class="title-box">
          <div class="image-user">
              <img src="img/user.png" alt="">
          </div>
          <div class="name-user">
              <a href="">Lê vãn Giang</a>
          </div>
      </div>
      <div class="list-menu">
          <ul>
              <li><a href="/thongtincanhan">Thông tin cá nhân</a></li>
              <li><a href="/phongdathue">Phòng đã Thuê</a></li>
              <li><a href="/dichvu">Dịch Vụ</a></li>
              <li><a href="/thanhtoanhangthang">Thanh toán hàng tháng</a></li>
              <li><a href="doimatkhau">Đổi mật khẩu</a></li>
              <li><a href="/home">Đăng xuất</a></li>
          </ul>
      </div>
  </div>
  <div class="display-box">
      <div class="title-display-box">
          <a href="">Dịch vụ</a>
      </div>
      <div class="display">
          <div class="container pt-5">
              <table class="table table-bordered table-hover custom-table">
                  <thead>
                      <tr>
                          <th>Stt</th>
                          <th>Loại dịch vụ</th>
                          <th>Giá</th>
                          <th>Mã phòng</th>
                          <th>Ghi chú</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>1</td>
                          <td>Điện</td>
                          <td>3.800 vnđ</td>
                          <td>2</td>
                          <td>3.800 vnđ / 1KW điện</td>
                      </tr>
                      <tr>
                          <td>2</td>
                          <td>Nước</td>
                          <td>80.000 vnđ</td>
                          <td>2</td>
                          <td>80.000 vnđ / 1 người</td>
                      </tr>
                      <tr>
                          <td>3</td>
                          <td>Gửi xe</td>
                          <td>50.000 vnđ</td>
                          <td>2</td>
                          <td>50.000 vnđ / 1 chiếc / tháng</td>
                      </tr>
                      <tr>
                          <td>4</td>
                          <td>Máy giặt</td>
                          <td>50.000 vnđ</td>
                          <td>2</td>
                          <td>50.000 vnđ / tháng</td>
                      </tr>
                  </tbody>

              </table>
          </div>
      </div>

  </div>
</div>
