<div class="box">
  <div class="menu-information">
      <div class="title-box">
          <div class="image-user">
              <img src="img/user.png" alt="">
          </div>
          <div class="name-user">
              <a href="">Lê vãn Giang</a>
          </div>
      </div>
      <div class="list-menu">
          <ul>
            <li><a href="/thongtincanhan">Thông tin cá nhân</a></li>
            <li><a href="/phongdathue">Phòng đã Thuê</a></li>
            <li><a href="/dichvu">Dịch Vụ</a></li>
            <li><a href="/thanhtoanhangthang">Thanh toán hàng tháng</a></li>
            <li><a href="/doimatkhau">Đổi mật khẩu</a></li>
            <li><a href="/home">Đăng xuất</a></li>
          </ul>
      </div>
  </div>
  <div class="display-box">
      <div class="title-display-box">
          <a href="">Đổi mật khẩu</a>
      </div>
      <div class="display">
          <div class="profile-form">
              <div class="form-group">
                  <label>Mật khẩu hiện tại</label>
                  <input type="text" class="form-control" placeholder="Nhập mật khẩu hiện tại">
              </div>
              <div class="form-group">
                  <label>Mật khẩu mới</label>
                  <input type="text" class="form-control" placeholder="Nhập mật khẩu mới">
              </div>
              <div class="form-group">
                  <label>Xác nhận mật khẩu</label>
                  <input type="text" class="form-control" placeholder="Nhập xác nhận mật khẩu">
              </div>
              <div class="form-row">
                  <div class="form-group1">
                      <label>Email hoặc số điện thoại nhận OTP</label>
                      <input type="text" class="form-control" placeholder="Nhập số điện thoại hoặc email">
                  </div>
                  <div class="form-group2">
                      <label>OTP</label>
                      <input type="email" class="form-control" placeholder="Nhập mã OTP">
                  </div>
              </div>
              <div class="save-button">
                  <button class="btn btn-danger">Lưu thay đổi</button>
              </div>
          </div>
      </div>

  </div>
</div>
